<ion-header>
  <ion-toolbar>
    <ion-title>Employee Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
      <ion-item *ngFor="let item of nurse" [routerLink]="[ '/recipes', item.id ]">
        <!-- <ion-item *ngFor="let item of nurse" (click)= "navigate(item.id)"> -->
          <ion-avatar slot="start">
          <ion-img [src]="item.imageUrl" >
             </ion-img> 
           
          </ion-avatar>
          <ion-title>
              {{item.name}}
            </ion-title>
      </ion-item>
    
  </ion-list>
<!-- <p> Recipes works here</p> -->
</ion-content>
